@import './assets/scss/iconfont.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, 'PingFangSC-Regular', BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

a,
a:link {
  text-decoration: none;
  color: #222;
}

*::-webkit-scrollbar {
  width: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

img,
input {
  border: 0;
}

img {
  content: normal !important; /*vw布局 img属性会默认加上content，导致显示不出图片的bug*/
}
